extends layout

block content
  br
  div(class="container-fluid")
    h4 Pesan Siaran / Broadcast
    br
    form(action='/broadcast',method='post')
      div(class="form-group form-check")
        b Grup Penerima Siaran
        br
        i Silakan centrang grup yang akan dipilih sebagai penerima siaran
        br
        br
        -for(var i = 0;i<groups.length;i++){
          input(type="checkbox", class="form-check-input", value="#{groups[i]['id']}", name="groups", style="display:inline-block") 
          label(for='group', class="form-check-label") #{groups[i]['nama']}
          br
        -}
        label(for='message') Pesan
           br
           textarea(id='messages',type='text',name='messages', style="width:800px; height:200px") @sapaan @nama
             | 
             |[PESAN ANDA DI SINI]

             |----------

             | 
             |Anda menerima pesan ini karena telah terdaftar di *@grup*, Anda dapat berhenti kapan saja dengan mengetikkan *@unsubscribe#@code*.  
          br
        label Jeda Waktu Antar Pesan (dalam detik)
          input(type="text", name="second", value="30") 
        button(class="btn btn-primary", type='submit', data-transition='fade', data-theme='c') Buat Siaran

  div(class="container-fluid")
      if broadcasts
        table(class="table table-striped table-light table-bordered")
          thead
            tr
              th(scope="col") TGL
              th(scope="col") Pesan
              th(scope="col") Aksi
          tbody
            each broadcast in broadcasts
              tr
                td #{broadcast.createdAt.toLocaleString()}
                td #{broadcast.pesan}
                td 
                  a(class="btn btn-primary", href="/campaign/content/delete/#{broadcast.k_id}") Hapus
                  
      b Informasi Template / Shortcode:  
      br
      li @nama => Nama
      li @sapaan => Sapaan 
      li @grup => Nama Grup
      li @unsubscribe => Kode Text untuk berhenti berlangganan (unsubscribe)
      li @code => Kode Grup


