extends layout

block content
  div(class="container-fluid")
    form(action='/campaign',method='post')
      input(type='hidden',value="#{groups[0]['id']}", name='groups')
    
      label(for='Hari') Waktu
         select(id="xxx", name="type")
          option(value="days") Hari
          option(value="hour") Jam
          option(value="minutes") Menit
      label(for='value') Nilai
        input(id='value',type='text',value='',name='value')
      br
      label(for='message') Pesan
      br
      textarea(id='messages',type='text', name='messages', style="width:450px") @sapaan @nama
        | 
        |[PESAN ANDA DI SINI]

        |----------

        | 
        |Anda menerima pesan ini karena telah terdaftar di *#{groups[0]['nama']}*, Anda dapat berhenti kapan saja dengan mengetikkan *#{unsub}##{groups[0]['code']}*.                                   
      br
      button(class="btn btn-primary", type='submit') Buat Kampanye
    br
    div(class="container-fluid")
      if campaigns
        table(class="table table-striped table-light table-bordered")
          thead
            tr
              th(scope="col") Nilai
              th(scope="col") Waktu
              th(scope="col") Pesan
              th(scope="col") Aksi
          tbody
            each campaign in campaigns
              tr
                td #{campaign.nilai}
                td #{campaign.tipe}
                td 
                  form(action="/campaign/edit", method="post")
                    textarea(type="text", name="pesan") #{campaign.pesan}
                    input(type="hidden", name="id", value="#{campaign.k_id}")
                    button(type="submit", class="btn btn-primary") Ubah
                td 
                  a(class="btn btn-primary", href="/campaign/content/delete/#{campaign.k_id}") Hapus


