extends layout

block content
  div(class="container-fluid")
    br
    h4 Kampanye #{groups[0].nama}
    br
    form(action='/campaign',method='post')
      input(type='hidden',value="#{groups[0]['id']}", name='groups')
    
      label(for='Hari') Waktu
         select(id="xxx", name="type")
          option(value="days") Hari
          option(value="hour") Jam
          option(value="minutes") Menit
      label(for='value') Nilai
        input(id='value',type='text',value='',name='value')
      br
      label(for='message') Pesan
      br
      textarea(id='messages',type='text', name='messages', style="width:450px") @sapaan @nama
        | 
        |[PESAN ANDA DI SINI]

        |----------

        | 
        |Anda menerima pesan ini karena telah terdaftar di *#{groups[0]['nama']}*, Anda dapat berhenti kapan saja dengan mengetikkan *#{unsub}##{groups[0]['code']}*.                                   
      br
      b(style="font-size:12px") Informasi Template / Shortcode: 
      br
      li(style="font-size:12px") @nama => Nama
      li(style="font-size:12px") @sapaan => Sapaan
      br
      button(class="btn btn-primary", type='submit') Buat Kampanye
        i(class="fas fa-paper-plane m-2")

    br
  if campaigns
    div.container-fluid .table-responsive
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
      script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
      script(src='//cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js')
      script.
          $(document).ready(function() {
              $('#resultTable').DataTable();
          });
      div#dataToShow
          table#resultTable.table.table-hover.datatables
             thead
                tr
                  th(scope="col") Nilai
                  th(scope="col") Waktu
                  th(scope="col") Pesan
                  th(scope="col") Aksi
              tbody
                for campaign in campaigns
                  tr
                    td #{campaign.nilai}
                    td #{campaign.tipe}
                    td 
                      form(action="/campaign/edit", method="post")
                        textarea(type="text", name="pesan") #{campaign.pesan}
                        input(type="hidden", name="id", value="#{campaign.k_id}")
                        button(type="submit", class="btn btn-primary") Ubah
                          i(class="fas fa-edit m-2")

                    td 
                      a(class="btn btn-primary", href="/campaign/content/delete/#{campaign.k_id}") Hapus
                        i(class="fas fa-trash-alt m-2")


  script(type="text/javascript").
      window.onload = function() {
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
      }

