extends layout

block content
  br
  div(class="container-fluid")
    h4 Pesan Siaran / Broadcast
    br
    form(action='/broadcast',method='post')
      div(class="form-group form-check")
        input(type="hidden", name="groups", value="#{groups[0]['id']}")
        label(for='message') Judul
          input(style="",type="text", name="judul")
        br
        label(for='message') Pesan
           textarea(id='messages',type='text',name='messages') @sapaan @nama
             | 
             |[PESAN ANDA DI SINI]

             |----------

             | 
             |Anda menerima pesan ini karena telah terdaftar di *@grup*, Anda dapat berhenti kapan saja dengan mengetikkan *@unsubscribe#@code*.  
          br
        label Jeda Waktu Antar Pesan (dalam detik)
          input(type="text", name="second", value="30") 
        button(class="btn btn-primary", type='submit', data-transition='fade', data-theme='c') Buat Siaran
          i(class="fas fa-paper-plane m-2")


  div(class="container-fluid table-responsive")
      if broadcasts
        table(class="table table-striped table-light table-bordered")
          thead
            tr
              th(scope="col") Judul
              th(scope="col") TGL
              th(scope="col") Pesan
              th(scope="col") Aksi
          tbody
            each broadcast in broadcasts
              tr
                td #{broadcast.judul}
                td #{broadcast.createdAt.toLocaleString()}
                td #{broadcast.pesan}
                td 
                  a(class="btn btn-primary", href="/campaign/content/delete/#{broadcast.k_id}") Hapus
                    i(class="fas fa-trash-alt m-2")

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(type="text/javascript").
      window.onload = function() {
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
      }
      $(document).ready(function () {
        $('#checkBtn').click(function() {
          checked = $("input[type=checkbox]:checked").length;

          if(!checked) {
            alert("You must check at least one checkbox.");
            return false;
          }
        });
      });


