extends layout

block content
  br
  div(class="container-fluid")
    h4 Pesan Siaran / Broadcast
    br
    form(action='/broadcast',method='post',  enctype="multipart/form-data")
      div(class="form-group form-check")
        input(type="hidden", name="groups", value="#{groups[0]['id']}")
        label(for='message') Judul
          input(style="",type="text", name="judul")
        br
        label(for='value') Foto, Video, Doc, Ukuran file maximal 5mb
          input(id='lampiran',type='file',value='',name='lampiran', class="form-control",  accept=".doc,.docx,.png,.jpg,.jpeg,.mp4,.mp3,.pdf,.xls,.xlsx,.txt,.gif,.3gp,.pptx,.ppt")
        br
        label(for='message', style="width:500px") Pesan
           textarea(id='messages',type='text',name='messages') {Halo|Salam} @sapaan @nama,
             | 
             |[PESAN ANDA DI SINI]

             |----------

             | 
             |Anda menerima pesan ini karena telah terdaftar di *@grup*, Anda dapat berhenti kapan saja dengan mengetikkan *@unsubscribe#@code*.  
          br
          b(style="font-size:12px") Informasi Template / Shortcode:  
          li(style="font-size:12px") @nama => Nama
          li(style="font-size:12px") @sapaan => Sapaan 
          li(style="font-size:12px") @grup => Nama Grup
          li(style="font-size:12px") @unsubscribe => Kode Text untuk berhenti berlangganan (unsubscribe)
          li(style="font-size:12px") @code => Kode Grup 
          li(style="font-size:12px") Aplikasi pesan ini mendukung spintax, contoh: {Halo|Salam}
          br
        label Jeda Waktu Antar Pesan (dalam detik, gunakan koma untuk menambah variasi waktu)
          br        
          input(type="text", name="second", value="30, 27, 42, 21", style="width:300px")
        br 
        button(class="btn btn-primary", id="submit",type='submit', data-transition='fade', data-theme='c') Buat Siaran
          i(class="fas fa-paper-plane m-2")

  br
  div(class="container-fluid table-responsive")
      if broadcasts
        table(class="table table-striped table-light table-bordered")
          thead
            tr
              th(scope="col") Judul
              th(scope="col") TGL
              th(scope="col") Pesan
              th(scope="col") Lampiran
              th(scope="col") Aksi
          tbody
            each broadcast in broadcasts
              tr
                td #{broadcast.judul}
                td #{broadcast.createdAt.toLocaleString()}
                td #{broadcast.pesan}
                td #{broadcast.lampiran}
                td 
                  a(class="btn btn-primary", href="/campaign/content/delete/#{broadcast.k_id}") Hapus
                    i(class="fas fa-trash-alt m-2")

    script(type="text/javascript").
      window.onload = function() {
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
      }
      $(document).ready(function () {
        $('#lampiran').bind('change', function() {
          let size = this.files[0].size
          if(size > 5045044){
            alert('Maksimal ukuran file 5mb');
            $('#submit').attr("disabled", true);
          } else {
            $('#submit').prop('disabled', false);;

          }
        });
        $('#checkBtn').click(function() {
          checked = $("input[type=checkbox]:checked").length;

          if(!checked) {
            alert("You must check at least one checkbox.");
            return false;
          }
        });
      });



