extends layout

block content
  div(class="container-fluid")
    form(action='/groups/detail',method='post', enctype="multipart/form-data")
      input(type='hidden', name="groups", value="#{groups[0].id}")
      label(for='kontak') Kontak
         select(id="xxx", name="contacts")
            -for(var i = 0;i<contacts.length;i++){
              option(value="#{contacts[i]['id']}") #{contacts[i]['nama']}
            -}
      label(for='kontak')
        input(type='file', name="file")
      br
      button(type='submit',class="mb-4 btn btn-primary") Submit
  
  div(class="container-fluid")
    if groups_detail
      table(class="table table-striped table-light table-bordered")
        thead
          tr
            th(scope="col") Nama
            th(scope="col") Nomor
            th(scope="col") Sapaan
            th(scope="col" class="w-20") Alamat
            th(scope="col" class="w-20") TGL REG
            th(scope="col" class="w-20") Status
            th(scope="col") Aksi
        tbody
          each detail in groups_detail
            tr
              td #{detail.nama}
              td #{detail.nomor}
              td #{detail.sapaan}
              td #{detail.alamat}
              td #{detail.g_d_date.toLocaleString()}
              td #{detail.status_grup == 0 ? 'inactive' : 'active'}
              td  
                a(class="btn btn-primary", href="/group_detail/contact/#{detail.g_d_id}") Hapus


            
