extends layout

block content
  div(class="container-fluid")
    if owner != null
      if owner.status == 1
        h1 Aktif
      if owner.status == 0
        h1 Off

    if owner != null
        form(action='/setting/edit',method='post')
          label(for='username') Pemilik
             input(id='username',type='text', disabled,value='#{owner.nama}',name='username')
          label(for='wa_number') Nomor WA
             input(id='wa_number',type='text', disabled, value='#{owner.nomor}',name='wa_number')
             input(id='wa_number',type='hidden',value='#{owner.id}',name='id')
          label(for='wa_number') Kunci Api
             input(id='wa_number',type='text', disabled, value='#{owner.api_key}',name='api_key')
          label(for='subscribe') SUBSCRIBE
             input(id='subscribe',type='text',value='#{owner.subscribe}',name='subscribe')  
          label(for='unsubscribe') UNSUBSCRIBE
             input(id='unsubscribe',type='text',value='#{owner.unsubscribe}',name='unsubscribe')
          button(type="submit", class="btn btn-primary") Setting
        a(href="/start" class="btn btn-danger") reset

    if owner == null
        h1  Barcode 
        img(src="/wa/qr")

    if owner == null
      script(type="text/javascript").
        setTimeout(() => {
          window.location.reload()
        }, 2000)





