extends layout

block content

  div(class="container-fluid")
    br
    h4 Setting #{group.nama}
    form(action='/group/edit',method='post')
      label(for='name') Nama 
         input(id='name',type='text',value='#{group.nama}',name='name' class="form-label")
      label(for='desc') Deskripsi
         input(id='desc',type='text',value='#{group.deskripsi}',name='desc')
      label(for='grup') Kode Grup
         input(id='grup',type='text',value='#{group.code}',name='code')
         input(id='grup',type='hidden',value='#{group.id}',name='id')
        button(type='submit', class="btn btn-primary") Edit Grup
          i(class="fas fa-edit m-2")

    br
    h4 Formulir
    textarea(type="text", style="width:50%", disabled) <form style="border: 2px solid rgba(100,100,100,0.2); display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 8px; width: 30%" method="post" action="#{url}/kontak/group">
      <select name="called" style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; ">
      <option value="none" selected>Sapaan</option>
      <option value="Pak">Pak</option>
      <option value="Bu">Bu</option>
      <option value="Kak">Kak</option>
      </select>
      <input style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; " placeholder="Nama Anda" name="username"/>
      <input style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; " type="hidden" name="group" value="#{group.id}"/>
      <input style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; " placeholder="Nomor Wa" name="wa_number"/>
      // <input style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; " placeholder="Alamat" name="address"/>
      <input style="width:100%; height:42px; margin:8px; border:none; background: rgba(100,100,100,0.2); text-align: center; border-radius: 4px; " type="hidden" name="validate" value="true"/>
      <br>
      <button style="width: 100%; height: 42px; border:none; margin:3px; background:blue; color:white;">Daftar</button></form>
    </form>

  div(class="container-fluid")
    br
    form(action='/group/sub',method='post')
      b Setting Otomatis Keluar Group Lain 
      br
      i Anda dapat membuat member group #{group.nama} otomatis keluar dari group lainnya, silakan pilih group yang akan dibuat otomatis keluar
      br
      label(for='group') Pilih Group
         select(id="xxx", name="sub_group")
            -for(var i = 0;i<groups.length;i++){
              if groups[i]['g_id'] != group.id
                option(value="#{groups[i]['g_id']}") #{groups[i]['nama']}
            -}
              input(id='sapaan',type='hidden',value='#{group.id}',name='groups')
        button(type='submit', class="btn btn-primary") Submit
          i(class="fas fa-paper-plane m-2")
    br
    if setting_groups
      table(class="table table-striped table-light table-bordered")
        thead
          tr
            th(scope="col") Nama
            th(scope="col") Deskripsi
            th(scope="col") Aksi
        tbody
          each set_g in setting_groups
            tr
              td #{set_g.nama}
              td #{set_g.deskripsi}
              td  
                a(class="btn btn-primary" href="/setting/group/delete/#{set_g.s_g_id}/#{set_g.grup_id}") Hapus
                  i(class="fas fa-trash-alt m-2")

    script(type="text/javascript").
      window.onload = function() {
        if(!window.location.hash) {
          window.location = window.location + '#loaded';
          window.location.reload();
        }
      }